.collections {
  background-color: $darkThemeSecondaryBackgroundColor;

  @include until($widescreen) {
    padding: 70px;
  }

  &-titles {
    display: flex;

    div,
    p {
      flex-grow: 1;
    }
  }

  &-title {
    color: white;
    position: relative;

    @include underscore;
  }

  &-menu {
    color: white;
    display: flex;
    justify-content: center;

    @include until($tablet) {
      flex-wrap: wrap;
    }

    div {
      @include until($desktop) {
        padding: 10px 10px;
      }

      span {
        transition: 0.4s ease color;
        position: relative;

        @include hover-underscore;

        @include until($desktop) {
          margin: 10px 10px;
        }

        cursor: pointer;
        margin: 50px 20px;
      }
    }
  }

  &-description,
  &-contact-description {
    padding: 80px 0;
    width: 50%;
    margin: 0 auto;
    color: white;

    @include until($desktop) {
      width: 75%;
    }

    @include until($tablet) {
      width: 90%;
    }
  }

  &-contact-description {
    padding-bottom: 0;
  }

  &-gallery {
    height: 700px;
    display: flex;

    & > div {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
    }

    @include until($desktop) {
      flex-direction: column;
    }

    &-grid {
      & > div {
        flex-basis: 50%;
        height: auto;
        background-size: cover;
        display: block;
        background-position: center top;
      }
    }

    &-hero {
      & > div {
        flex-basis: 100%;
        height: auto;
        background-size: cover;
        background-position: center top;
      }
    }
  }
}

[data-theme="dark"] {
  .collections {
    background-color: white;

    &-title {
      color: black;
    }

    &-menu {
      color: black;
    }

    &-description,
    &-contact-description {
      color: black;
    }
  }
}
