.collections {
  background-color: $darkThemeSecondaryBackgroundColor;

  @include until($widescreen) {
    padding: 70px;
  }

  &-titles {
    display: flex;

    div,
    p {
      flex-grow: 1;
    }
  }

  &-title {
    color: white;
    position: relative;

    @include underscore;
  }

  &-menu {
    color: white;
    display: flex;
    justify-content: center;

    @include until($tablet) {
      flex-wrap: wrap;
    }

    div {
      @include until($desktop) {
        padding: 10px 10px;
      }
      text-align: center;

      span {
        transition: 0.4s ease color;
        display: block;
        position: relative;

        @include hover-underscore;

        @include until($desktop) {
          margin: 10px 10px;
        }

        cursor: pointer;
        margin: 50px 20px;
      }
    }
  }

  &-description,
  &-description-detailed,
  &-contact-description {
    padding: 80px 0;
    padding-bottom: 40px;
    width: 50%;
    margin: 0 auto;
    color: white;

    @include until($desktop) {
      width: 75%;
    }

    @include until($tablet) {
      width: 90%;
    }
  }

  &-description-detailed {
    padding-top: 0;
    width: 80%;
  }

  &-contact-description {
    padding-bottom: 0;
  }

  &-image-blackout,
  &-image-wave {
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-image-wave {
    @include until($tablet) {
      height: 150px;
    }
  }

  &-image-blackout {
    @include until($tablet) {
      height: 200px;
    }
  }

  &-gallery {
    height: 700px;
    display: flex;

    & > div {
      flex: 1;
      display: flex;
      flex-wrap: wrap;

      & > div {
        padding: 5px;

        & > div {
          height: 100%;
          background-size: cover;
          display: block;
          background-position: center top;
        }
      }
    }

    @include until($desktop) {
      flex-direction: column;
    }

    &-grid {
      & > div {
        flex-basis: 50%;
      }
    }

    &-hero {
      padding: 5px;

      & > div {
        flex-basis: 100%;
        height: auto;
        background-size: cover;
        background-position: center top;
      }
    }
  }
}

[data-theme="dark"] {
  .collections {
    background-color: white;

    &-title {
      color: black;
    }

    &-menu {
      color: black;
    }

    &-description,
    &-description-detailed,
    &-contact-description {
      color: black;
    }
  }
}
