.contact {
  // background-color: $primaryBackgroundColor;

  @include until($widescreen) {
    padding: 70px;
  }

  &-icon {
    stroke: $colorMain;
    margin-bottom: 10px;

    svg {
      width: 30px;
      height: 30px;
    }

    & > div {
      display: flex;
      align-items: center;

      p {
        margin-left: 10px;
      }
    }
  }

  &-titles {
    display: flex;

    div,
    p {
      flex-grow: 1;
    }
  }

  &-title {
    color: black;
    position: relative;

    @include underscore;
  }

  &-card {
    background-color: white;
    padding: 10px;
    padding-left: 100px;
    padding-top: 30px;

    @include until($widescreen) {
      padding: 5px;
    }

    @include until($tablet) {
      padding-top: 50px;
    }

    a {
      color: black;
      transition: 0.4s ease color;
      margin-left: 40px;

      &:hover {
        color: $colorMain;
      }
    }
  }

  .input {
    margin-bottom: 15px;
    position: relative;
    height: 60px;

    &::placeholder {
      color: $primaryTextColor;
    }
  }

  .column {
    padding-bottom: 0;
  }

  .columns {
    margin-bottom: 0;
  }

  .help {
    position: absolute;
    bottom: -5px;
  }

  &-textarea {
    margin-top: 0;
  }

  &-info {
    flex-direction: column;
  }

  &-submit {
    text-align: right;
  }
}

[data-theme="dark"] {
  .contact {
    color: white;
    // background-color: $darkThemePrimaryBackgroundColor;

    &-title {
      color: white;
    }

    &-card {
      background-color: $darkThemeSecondaryBackgroundColor;

      a {
        color: white;
        transition: 0.4s ease color;

        &:hover {
          color: $colorMain;
        }
      }
    }
  }
}
