.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $primaryBackgroundColor;
  font-size: 16px;
}

[data-theme="dark"] {
  .footer {
    color: white;
    background-color: $darkThemeSecondaryBackgroundColor;
  }
}
