$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  @include until($desktop) {
    height: 600px !important;
  }

  @include until($tablet) {
    height: 320px !important;
  }

  background-position: center;
  background-size: cover;
  height: 700px !important;
  position: relative;

  .cover {
    text-align: center;

    @include until($tablet) {
      padding: 20px;
      left: 0;
      right: 0;
      top: 100%;
      transform: translateY(100%);
      max-width: none;
    }

    position: absolute;
    background-color: rgba(white, 0.8);
    opacity: 0;
    top: 50%;
    padding: 80px;
    left: 15vw;
    right: 15vw;
    transform: translateY(120%);
    transition: all 0.4s ease;
    transition-delay: 0.7s;
    transform-origin: bottom;
    box-sizing: border-box;

    p {
      transition: all 0.4s ease;
      transition-delay: 1s;

      &:first-child {
        color: black;

        @include until($tablet) {
          margin-bottom: 20px;
        }

        margin-bottom: 35px;
      }

      &:nth-child(2) {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 10%;
          height: 2px;
          background-color: $colorMain;
          left: 0;
          right: 0;
          top: -20px;
          margin: 0 auto;
          transition: all 0.4s ease-in;

          @include until($tablet) {
            top: -10px;
          }
        }
      }

      @include until($tablet) {
        margin-bottom: 10px;
      }

      margin-bottom: 30px;
    }

    .button {
      @include until($tablet) {
        width: 100%;
      }
    }
  }

  &-active {
    .cover {
      @include until($tablet) {
        transform: translateY(-100%);
      }

      opacity: 1;
      transform: translateY(-50%);
    }
  }
}

[data-theme="dark"] {
  .cover {
    background-color: rgba($darkThemeSecondaryBackgroundColor, 0.8);
    color: white;

    p {
      &:first-child {
        color: white;
      }

      &:nth-child(2) {
        color: $darkThemeTextColor;
      }
    }
  }
}

.swiper-pagination {
  margin-bottom: 5px;

  @include until($tablet) {
    margin-bottom: -10px;
  }
}

.swiper-bullet {
  padding: 0 10px;
  margin-right: 10px;
  height: 6px;
  cursor: pointer;
  border-bottom: 6px solid rgba(255, 255, 255, 0.6);
  transition: 0.3s ease all;
  display: inline-block;

  @include until($tablet) {
    border-width: 4px;
  }

  &-active {
    padding: 0 15px;
    border-color: $colorMain;
  }
}
