@charset "utf-8";

@import "variables.scss";

html[data-theme="dark"] {
  background-color: $darkThemeSecondaryBackgroundColor;
}

@import "~bulma/bulma.sass";

@import "hero.scss";
@import "navbar.scss";
@import "header.scss";
@import "colors.scss";

.button {
  border-radius: 0;
  font-weight: 500;
}
