.inspirations {
  background-color: $primaryBackgroundColor;

  &-image {
    height: 400px;

    @include until($tablet) {
      height: 250px;
    }
  }
}

[data-theme="dark"] {
  .inspirations {
    background-color: $darkThemePrimaryBackgroundColor;
  }
}
