.navbar {
  &-burger {
    &:hover {
      background-color: #fff !important;
    }
  }

  &-brand {
    position: relative;
    z-index: 5;
    background-color: #fff;

    @include until($desktop) {
      display: flex;
      align-items: center;
    }
  }

  &-item {
    img {
      transition: all 0.3s ease;
    }

    @include until($tablet) {
      padding: 10px !important;
    }

    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    color: black;

    &:hover {
      color: black !important;
    }

    &:not(.logo) {
      @include from($desktop) {
        span {
          position: relative;

          @include hover-underscore;
        }

        &:before,
        &:after {
          margin: 0 auto;
          width: 70%;
        }
      }
    }
  }

  @include until($desktop) {
    &-item {
      padding-top: 15px;
      padding-bottom: 15px;

      &:hover {
        color: white;
      }

      &:not(.logo) {
        &:before,
        &:after {
          bottom: 20px;
        }
      }
    }

    &-menu {
      display: block;
      opacity: 1;

      position: absolute; /* or float: left; width: 100%;*/
      left: 0;
      right: 0;

      transform: translateY(-100%);
      transition: all 0.4s ease-out;
      pointer-events: none;
    }

    &-menu.is-active {
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }
  }

  &-shrink {
    .navbar-item {
      padding-top: 20px;
      padding-bottom: 20px;
      img {
        max-height: 40px;
      }
    }
  }
}

html[data-theme="dark"] {
  .navbar {
    background-color: $darkThemePrimaryBackgroundColor;

    &-menu,
    &-brand {
      background-color: $darkThemePrimaryBackgroundColor;
    }

    &-burger {
      color: #fff;

      &:hover {
        background-color: $darkThemePrimaryBackgroundColor !important;
      }
    }
  }

  .navbar-item {
    color: #fff;
    transition: color 0.3s ease;

    &:hover {
      color: white !important;
    }
  }

  .navbar-item {
    &:hover:not(.logo) {
      background-color: transparent;
    }
  }
}
