.news {
  background-color: $primaryBackgroundColor;

  .card {
    color: $primaryTextColor;
  }
}

[data-theme="dark"] {
  .news {
    color: white;
    background-color: $darkThemePrimaryBackgroundColor;

    .card {
      background-color: $darkThemeSecondaryBackgroundColor;
      color: $darkThemeTextColor;
    }
  }
}
