.no-form-contact {
  // background-color: $primaryBackgroundColor;

  @include until($widescreen) {
    padding: 70px;
  }

  &-icon {
    stroke: $colorMain;
    margin-bottom: 10px;

    svg {
      width: 30px;
      height: 30px;
    }

    & > div {
      display: flex;
      align-items: center;

      p {
        margin-left: 10px;
      }
    }
  }

  &-info {
    display: flex;
    justify-content: center;

    @include until($tablet) {
      flex-direction: column;
    }
  }

  &-card {
    background-color: white;
    padding: 10px;
    padding-left: 100px;
    padding-top: 30px;

    @include until($widescreen) {
      padding: 5px;
    }

    @include until($tablet) {
      padding-top: 50px;
    }

    a {
      color: black;
      transition: 0.4s ease color;
      margin-left: 40px;

      &:hover {
        color: $colorMain;
      }
    }
  }
}

[data-theme="dark"] {
  .no-form-contact {
    color: white;

    &-card {
      background-color: $darkThemeSecondaryBackgroundColor;

      a {
        color: white;
        transition: 0.4s ease color;

        &:hover {
          color: $colorMain;
        }
      }
    }
  }
}
