.services {
  background-color: $primaryBackgroundColor;

  @include until($widescreen) {
    padding: 70px;
  }

  &-icon {
    stroke: $colorMain;

    svg {
      width: 60px;
      height: 60px;
    }
  }

  &-titles {
    display: flex;

    div,
    p {
      flex-grow: 1;
    }
  }

  &-title {
    color: black;
    position: relative;

    @include underscore;
  }

  &-cards {
    display: flex;
    justify-content: space-between;

    @include until($desktop) {
      flex-direction: column;
    }
  }

  &-card {
    background-color: white;
    flex-basis: 370px;
    text-align: center;
    padding: 40px;

    @include until($widescreen) {
      flex-basis: 300px;
    }

    @include until($desktop) {
      flex-basis: auto;
    }

    &-counter {
      color: black;
    }

    &-title {
      color: $primaryTextColor;
      position: relative;
      display: inline-block;

      &.under {
        margin-top: 30px;
        &:after {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          background-color: $colorMain;
          left: 0;
          right: 0;
          top: -20px;
          margin: 0 auto;
          transition: all 0.4s ease-in;
        }
      }
    }

    &-description {
      line-height: 2;
    }

    &:hover & {
      &-title {
        &:after {
          width: 80%;
        }
      }
    }
  }
}

[data-theme="dark"] {
  .services {
    background-color: $darkThemePrimaryBackgroundColor;

    &-title {
      color: white;
    }

    &-card {
      background-color: $darkThemeSecondaryBackgroundColor;

      &-counter {
        color: white;
      }

      &-title {
        color: $darkThemeTextColor;

        &:after {
          // background-color: $darkThemeTextColor;
        }
      }

      &-description {
        color: $darkThemeTextColor;
      }
    }
  }
}
