@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$family-primary: "Poppins";

$colorMain: #be1421;

$darkThemePrimaryBackgroundColor: #1e1e1e;
$darkThemeSecondaryBackgroundColor: #121212;
$darkThemeColorMain: $colorMain;
$darkThemeTextColor: #bfbfbf;
$primaryTextColor: #4a4a4a;
$primaryBackgroundColor: #f1f1f1;

// BULMA
// color
$primary: $colorMain;

$body-line-height: 1.6;

// navbar
$navbar-item-hover-color: none;
$navbar-item-hover-background-color: #fff;
$navbar-item-font-weight: 500;
$navbar-item-img-max-height: 80px;
